<div id="container">
            <div id="sidebar">
                <div class="mainNavs" ng-class="{fixed:nav_fix}">
                    <div class="menu_box" ng-class="{current:!item.show}" ng-repeat="item in jsonList" ng-mouseover="showSub(item)" ng-mouseout="showSub
                    (item)">
                        <div class="menu_main">
                            <h2>{{item.title}} <span></span></h2>
                            <a href="{{tel.href}}" ng-repeat="tel in item.teles">{{tel.name}}</a>
                        </div>
                        <div class="menu_sub" ng-class="{dn:item.show}" style="top:{{item.top}}">
                                <dl class="reset" ng-repeat="info in item.info">
                                    <dt>
                                        <a href="h/jobs/list_产品经理?labelWords=label">{{info.title}}</a>
                                    </dt>
                                    <dd>
                                        <a href="{{list.link}}" ng-class="{curr:list.color}" ng-repeat="list in info.list">{{list.info}}</a>
                                    </dd>
                                </dl>
                        </div>
                    </div>
                </div>
                <a class="subscribe" href="subscribe.html" target="_blank">订阅职位</a>
            </div>
            <div class="content">
                <div id="search_box">
                    <form id="searchForm" name="searchForm" action="list.html" method="get">
                        <ul id="searchType">
                            <li data-searchtype="1" class="type_selected">职位</li>
                            <li data-searchtype="4"><a href="#/coming_soon"></a>公司</li>
                        </ul>
                        <div class="searchtype_arrow"></div>
                        <input type="text" id="search_input" name="kd" tabindex="1" value="" placeholder="请输入职位名称，如：产品经理" ng-model="searchText"/>
                        <input type="hidden" name="spc" id="spcInput" value="" />
                        <input type="hidden" name="pl" id="plInput" value="" />
                        <input type="hidden" name="gj" id="gjInput" value="" />
                        <input type="hidden" name="xl" id="xlInput" value="" />
                        <input type="hidden" name="yx" id="yxInput" value="" />
                        <input type="hidden" name="gx" id="gxInput" value="" />
                        <input type="hidden" name="st" id="stInput" value="" />
                        <input type="hidden" name="labelWords" id="labelWords" value="" />
                        <input type="hidden" name="lc" id="lc" value="" />
                        <input type="hidden" name="workAddress" id="workAddress" value="" />
                        <input type="hidden" name="city" id="cityInput" value="" />
                        <input type="submit" id="search_button" value="搜索" />
                    </form>
                </div>
                <dl class="hotSearch">
                    <dt>热门搜索：</dt>
                    <dd><a href="list.htmlJava?labelWords=label&city=">Java</a></dd>
                    <dd><a href="list.htmlPHP?labelWords=label&city=">PHP</a></dd>
                    <dd><a href="list.htmlAndroid?labelWords=label&city=">Android</a></dd>
                    <dd><a href="list.htmliOS?labelWords=label&city=">iOS</a></dd>
                    <dd><a href="list.html前端?labelWords=label&city=">前端</a></dd>
                    <dd><a href="list.html产品经理?labelWords=label&city=">产品经理</a></dd>
                    <dd><a href="list.htmlUI?labelWords=label&city=">UI</a></dd>
                    <dd><a href="list.html运营?labelWords=label&city=">运营</a></dd>
                    <dd><a href="list.htmlBD?labelWords=label&city=">BD</a></dd>
                    <dd><a href="list.html?gx=实习&city=">实习</a></dd>
                </dl>
                <div id="home_banner">
                    <ul class="banner_bg" style="height:480px;transition: 0.5s;margin-top:{{banner_top}}px;">
                        <li  class="banner_bg_1 current" >
                            <a href="h/subject/s_buyfundation.html?utm_source=DH__lagou&utm_medium=banner&utm_campaign=haomai" target="_blank"><img src="style/images/d05a2cc6e6c94bdd80e074eb05e37ebd.jpg" width="612" height="160" alt="好买基金——来了就给100万" /></a>
                        </li>
                        <li  class="banner_bg_2" >
                            <a href="h/subject/s_worldcup.html?utm_source=DH__lagou&utm_medium=home&utm_campaign=wc" target="_blank"><img src="style/images/c9d8a0756d1442caa328adcf28a38857.jpg" width="612" height="160" alt="世界杯放假看球，老板我也要！" /></a>
                        </li>
                        <li  class="banner_bg_3" >
                            <a href="h/subject/s_xiamen.html?utm_source=DH__lagou&utm_medium=home&utm_campaign=xiamen" target="_blank"><img src="style/images/d03110162390422bb97cebc7fd2ab586.jpg" width="612" height="160" alt="出北京记——第一站厦门" /></a>
                        </li>
                    </ul>
                    <div class="banner_control">
                        <em style="transition: 0.5s;top:{{em_top}}px"></em> 
                        <ul class="thumbs">
                            <li  class="thumbs_1 current" ng-mouseover="bannerover(0)" ng-mouseout="bannerout()">
                                <i></i>
                                <img src="style/images/4469b1b83b1f46c7adec255c4b1e4802.jpg" width="113" height="42" />
                            </li>
                            <li  class="thumbs_2" ng-mouseover="bannerover(1)" ng-mouseout="bannerout()">
                                <i></i>
                                <img src="style/images/381b343557774270a508206b3a725f39.jpg" width="113" height="42" />
                            </li>
                            <li  class="thumbs_3" ng-mouseover="bannerover(2)" ng-mouseout="bannerout()">
                                <i></i>
                                <img src="style/images/354d445c5fd84f1990b91eb559677eb5.jpg" width="113" height="42" />
                            </li>
                        </ul>
                    </div>
                </div>
                <ul id="da-thumbs" class="da-thumbs">
                        <li>
                            <a href="h/c/1650.html" target="_blank" ng-mouseenter="thumbsover('#da-thumbs','img',0)" ng-mouseleave="thumbsout('#da-thumbs','img',0)">
                                <img src="style/images/a254b11ecead45bda166afa8aaa9c8bc.jpg" width="113" height="113" alt="联想" />
                                <div class="hot_info" style="{{change[0]}}">
                                    <h2 title="联想">联想</h2>
                                    <em></em>
                                    <p title="世界因联想更美好">世界因联想更美好</p>
                                </div>
                            </a>
                        </li>
                        <li >
                            <a href="h/c/9725.html" target="_blank" ng-mouseenter="thumbsover('#da-thumbs','img',1)" ng-mouseleave="thumbsout('#da-thumbs','img',1)">
                                <img src="style/images/c75654bc2ab141df8218983cfe5c89f9.jpg" width="113" height="113" alt="淘米" />
                                <div class="hot_info" style="{{change[1]}}">
                                    <h2 title="淘米">淘米</h2>
                                    <em></em>
                                    <p title="将心注入 追求极致">将心注入 追求极致</p>
                                </div>
                            </a>
                        </li>
                        <li >
                            <a href="h/c/1914.html" target="_blank" ng-mouseenter="thumbsover('#da-thumbs','img',2)" ng-mouseleave="thumbsout('#da-thumbs','img',2)">
                                <img src="style/images/2bba2b71d0b0443eaea1774f7ee17c9f.png" width="113" height="113" alt="优酷土豆" />
                                <div class="hot_info" style="{{change[2]}}">
                                    <h2 title="优酷土豆">优酷土豆</h2>
                                    <em></em>
                                    <p title="专注于视频领域，是中国网络视频行业领军企业">专注于视频领域，是中国网络视频行业领军企业</p>
                                </div>
                            </a>
                        </li>
                        <li >
                            <a href="h/c/6630.html" target="_blank" ng-mouseenter="thumbsover('#da-thumbs','img',3)" ng-mouseleave="thumbsout('#da-thumbs','img',3)">
                                <img src="style/images/f4822a445a8b495ebad81fcfad3e40e2.jpg" width="113" height="113" alt="思特沃克" />
                                <div class="hot_info" style="{{change[3]}}">
                                    <h2 title="思特沃克">思特沃克</h2>
                                    <em></em>
                                    <p title="一家全球信息技术服务公司">一家全球信息技术服务公司</p>
                                </div>
                            </a>
                        </li>
                        <li >
                            <a href="h/c/2700.html" target="_blank" ng-mouseenter="thumbsover('#da-thumbs','img',4)" ng-mouseleave="thumbsout('#da-thumbs','img',4)">
                                <img src="style/images/5caf8f9631114bf990f87bb11360653e.png" width="113" height="113" alt="奇猫" />
                                <div class="hot_info" style="{{change[4]}}">
                                    <h2 title="奇猫">奇猫</h2>
                                    <em></em>
                                    <p title="专注于移动互联网、互联网产品研发">专注于移动互联网、互联网产品研发</p>
                                </div>
                            </a>
                        </li>
                        <li  class="last" >
                            <a href="h/c/1335.html" target="_blank" ng-mouseenter="thumbsover('#da-thumbs','img',5)" ng-mouseleave="thumbsout('#da-thumbs','img',5)">
                                <img src="style/images/c0052c69ef4546c3b7d08366d0744974.jpg" width="113" height="113" alt="堆糖网" />
                                <div class="hot_info" style="{{change[5]}}">
                                    <h2 title="堆糖网">堆糖网</h2>
                                    <em></em>
                                    <p title="分享收集生活中的美好，遇见世界上的另外一个你">分享收集生活中的美好，遇见世界上的另外一个你</p>
                                </div>
                            </a>
                        </li>
                </ul>
                <ul class="reset hotabbing">
                    <li class="current">热门职位</li>
                    <li>最新职位</li>
                </ul>
                <div id="hotList">
                    <ul class="hot_pos reset">
                        <li class="clearfix" ng-repeat="item in dataList | filter:searchText">     
                            <div class="hot_pos_l">
                                <div class="mb10">
                                    <a href="h/jobs/147822.html" target="_blank">{{item.left.tit}}</a> 
                                        &nbsp;
                                    <span class="c9">{{item.left.ads}}</span>
                                </div>
                                <span><em class="c7">月薪：</em>{{item.left.pay}}</span>
                                <span><em class="c7">经验：</em>{{item.left.ex}}</span>
                                <span><em class="c7">最低学历： </em>{{item.left.edu}}</span>
                                <br />
                                <span><em class="c7">职位诱惑：</em>{{item.left.prospect}}</span>
                                <br />
                                <span>{{item.left.time}}</span>
                                <a class="wb">分享到微博</a>
                            </div>
                            <div class="hot_pos_r">
                                <div class="apply">
                                    <a href="toudi.html" target="_blank">投个简历</a>
                                </div>
                                <div class="mb10 recompany"><a href="h/c/399.html" target="_blank">{{item.right.tit}}</a></div>
                                <span><em class="c7">领域：</em> {{item.right.ground}}</span>
                                <span><em class="c7">创始人：</em>{{item.right.name}}</span>
                                <br />
                                <span><em class="c7">阶段：</em> {{item.right.status}}</span>
                                <span><em class="c7">规模：</em>{{item.right.num}}</span>
                                <ul class="companyTags reset">                                                             
                                    <li>{{item.right.keyword1}}</li>                                                      
                                    <li>{{item.right.keyword2}}</li>                                                       
                                    <li>{{item.right.keyword3}}</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="Pagination myself">
                    <a href="javascript:void(0)" class="current" title="1" ng-click="search(0)">首页</a>
                    <a href="javascript:void(0)" class="current" title="上一页" ng-click="search(a_show.oddindex-1)">上一页 </a>
                    <a href="javascript:void(0)" ng-class="{current:a_show[0]}" title="1" ng-click="search(0)">1</a>
                    <a href="javascript:void(0)" ng-class="{current:a_show[1]}" title="2" ng-click="search(1)">2</a>
                    <a href="javascript:void(0)" ng-class="{current:a_show[2]}" title="3" ng-click="search(2)">3</a>
                    <a href="javascript:void(0)" ng-class="{current:a_show[3]}" title="4" ng-click="search(3)">4</a>
                    <a href="javascript:void(0)" ng-class="{current:a_show[4]}" title="5" ng-click="search(4)">5</a>
                    <a href="javascript:void(0)" class="current" title="2" ng-click="search(a_show.oddindex+1)">下一页</a>
                    <a href="javascript:void(0)" class="current" title="5" ng-click="search(4)">尾页</a>
                </div>
                <div class="clear"></div>
                <div id="linkbox">
                    <dl>
                        <dt>友情链接</dt>
                        <dd>
                            <a href="http://www.zhuqu.com/" target="_blank">住趣家居网</a> <span>|</span>
                            <a href="http://www.woshipm.com/" target="_blank">人人都是产品经理</a> <span>|</span>
                            <a href="http://zaodula.com/" target="_blank">互联网er的早读课</a> <span>|</span>
                            <a href="http://lieyunwang.com/" target="_blank">猎云网</a> <span>|</span>
                            <a href="http://www.ucloud.cn/" target="_blank">UCloud</a> <span>|</span>
                            <a href="http://www.iconfans.com/" target="_blank">iconfans</a>  <span>|</span>
                            <a href="http://www.html5dw.com/" target="_blank">html5梦工厂</a>   <span>|</span>
                            <a href="http://www.sykong.com/" target="_blank">手游那点事</a> 
                            
                            <a href="http://www.mycodes.net/" target="_blank">源码之家</a> <span>|</span>
                            <a href="http://www.uehtml.com/" target="_blank">uehtml</a> <span>|</span>
                            <a href="http://www.w3cplus.com/" target="_blank">W3CPlus</a> <span>|</span>
                            <a href="http://www.boxui.com/" target="_blank">盒子UI</a> <span>|</span>
                            <a href="http://www.uimaker.com/" target="_blank">uimaker</a> <span>|</span>
                            <a href="http://www.yixieshi.com/" target="_blank">互联网的一些事</a> <span>|</span>
                            <a href="http://www.chuanke.com/" target="_blank">传课网</a> <span>|</span>
                            <a href="http://www.eoe.cn/" target="_blank">安卓开发</a> <span>|</span>
                            <a href="http://www.eoeandroid.com/" target="_blank">安卓开发论坛</a> 
                            <a href="http://hao.360.cn/" target="_blank" >360安全网址导航</a> <span>|</span>
                            <a href="http://se.360.cn/" target="_blank" >360安全浏览器</a> <span>|</span>
                            <a href="http://www.hao123.com/" target="_blank" >hao123上网导航</a> <span>|</span>
                            <a href="http://www.ycpai.com" target="_blank" >互联网创业</a><span>|</span>
                            <a href="http://www.zhongchou.cn" target="_blank" >众筹网</a><span>|</span>
                            <a href="http://www.marklol.com/" target="_blank" >马克互联网</a><span>|</span>
                            <a href="http://www.chaohuhr.com/" target="_blank" >巢湖英才网</a>
                            
                            <a href="http://www.zhubajie.com/" target="_blank" >创意服务外包</a><span>|</span>
                            <a href="http://www.thinkphp.cn/" target="_blank" >thinkphp</a><span>|</span>
                            <a href="http://www.chuangxinpai.com/" target="_blank" >创新派</a><span>|</span>

                            <a href="http://w3cshare.com/" target="_blank" >W3Cshare</a><span>|</span>
                            <a href="http://www.518lunwen.cn/" target="_blank" >论文发表网</a><span>|</span>
                            <a href="http://www.199it.com" target="_blank" >199it</a><span>|</span>

                            <a href="http://www.shichangbu.com" target="_blank" >市场部网</a><span>|</span>
                            <a href="http://www.meitu.com/" target="_blank" >美图公司</a><span>|</span>
                            <a href="https://www.teambition.com/" target="_blank" >Teambition</a>
                            <a href="http://oupeng.com/" target="_blank" >欧朋浏览器</a><span>|</span>
                            <a href="http://iwebad.com/" target="_blank">网络广告人社区</a>
                            <a href="h/af/flink.html" target="_blank" class="more">更多</a>
                        </dd>
                    </dl>
                </div>    

            
            </div>

        <a id="backtop" title="回到顶部" rel="nofollow" style="display: inline; background-position-x: 0px;{{scrollTop}}" ng-click="calltop()"></a>
</div>